body {
  padding: 0 10px;
}

.header,
.title {
  text-align: center;
}

.header {
  margin-bottom: 5px;
}

.header button {
  border-radius: 5px;
  padding: 10px;
}

.index {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.view {
  min-width: 150px;
  padding: 5px;
  text-align: center;
}

.active {
  background-color: yellow;
  font-weight: bold;
}
