{{page-title "Demo"}}

<h2 class="title"><a href="https://github.com/freshbooks/ember-responsive">Ember-Responsive Demo</a></h2>

<div class="header">
    Welcome to the Ember-Responsive Demo page!
</div>

{{outlet}}
